@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.bbl {
  margin-top: 20px;
  height: auto;
  border-radius: 20px;
  background-color: #f1ebe5;
  display: block;
  text-align: center;
  font-family: 'Righteous';
  padding: 25px;
  width: 60vh;
  /* Updated width and max-width properties */
}

::placeholder {
  font-size: 100%;
  font-family: 'Righteous';
  color: rgb(0, 0, 0);
  opacity: 1;
}

* {
  box-sizing: border-box;
}

/* Full-width input fields */
input[type=text],
input[type=email] {
  width: 100%;
  padding: 15px;
  margin: 20px 0 22px 0;
  display: inline-block;
  border: none;
  background: #ffffff;
}

input[type=text]:focus,
input[type=email]:focus {
  background-color: #cacaca;
  outline: none;
}

/* Set a style for all buttons */
button {
  font-family: 'Righteous';
  margin: 5px;
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.drpdwn{
  margin: 5px;
  padding:14px 20px;
  text-align: center;
  width: 100%;
  font-family: 'Righteous';
  -moz-appearance: none; 
  -webkit-appearance: none; 
  appearance: none;
}

button:hover {
  opacity: 1;
}

@media screen and (max-width: 992px) {
  
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }
  
    .bbl {
        margin-top: 40%;
        height: auto;
    }
    ::placeholder {
        font-size: xx-large;
        font-family: 'Righteous';
        color: rgb(0, 0, 0);
        opacity: 1;
    }
    input[type=text],
    input[type=email] {
        font-size: xx-large;
        width: 100%;
        padding: 30px;
        margin: 20px 0 22px 0;
        display: inline-block;
        border: none;
        background: #ffffff;
    }
    
    .sugg{
      font-size: xx-large;
    }

    button {
        font-family: 'Righteous';
        font-size: xx-large;
        background-color: #04AA6D;
        color: white;
        padding: 14px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 1;
      }

    .drpdwn{
      -moz-appearance: none; 
      -webkit-appearance: none;
      -webkit-text-fill-color: black;
      appearance: none;
      background:white;
      font-family: 'Righteous';
      font-size: xx-large;
      margin: 5px;
      padding:14px 20px;
      text-align:-webkit-center;
      width: 100%;
    }

}
