@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.bbl {
    height: auto;
  border-radius: 20px;
  background-color: #f1ebe5;
  display: block;
  text-align: center;
  font-family: 'Righteous';
  padding: 25px;
  width: 60vh;
  /* Updated width and max-width properties */
}

::placeholder {
  font-size: 100%;
  font-family: 'Righteous';
  color: rgb(0, 0, 0);
  opacity: 1;
}

* {
  box-sizing: border-box;
}

/* Full-width input fields */
input[type=text],
input[type=email] {
  width: 100%;
  padding: 15px;
  margin: 20px 0 22px 0;
  display: inline-block;
  border: none;
  background: #ffffff;
}

input[type=text]:focus,
input[type=email]:focus {
  background-color: #cacaca;
  outline: none;
}

/* Set a style for all buttons */
button {
  font-family: 'Righteous';
  margin: 5px;
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity: 1;
}

@media screen and (max-width: 992px) {
  
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
    }
  
    .bbl {
        height: 30vh;
    }
    ::placeholder {
        font-size: xx-large;
        font-family: 'Righteous';
        color: rgb(0, 0, 0);
        opacity: 1;
    }
    input[type=text],
    input[type=email] {
        font-size: xx-large;
        width: 100%;
        padding: 30px;
        margin: 20px 0 22px 0;
        display: inline-block;
        border: none;
        background: #ffffff;
    }
  
    button {
        font-family: 'Righteous';
        font-size: xx-large;
        margin: 10px;
        background-color: #04AA6D;
        color: white;
        padding: 14px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
      }

}
