@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

.bbl{
    border-radius: 20px;
    background-color: #f1ebe5;
    margin-left: 25%;
    margin-right: 25%;
    display: block;
    text-align: center;
    font-family: 'Righteous';
    padding-top: 10px;
    padding-bottom: 3%;
}

.name,.phone,.email,.time{
    font-family: 'Righteous';
    padding:10px;
    background-color: inherit;
}

::placeholder {
    font-family: 'Righteous';
    color: rgb(0, 0, 0);
    opacity: 1;
  }

.button {
    font-family: 'Righteous';
    background-color: #596ba2;
    border: none;
    color: #f1ebe5;
    margin-top: 20px;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
